# Dependencies
node_modules/
.pnp.*
.pnpm-store/

# Build & caches
dist/
.astro/
.cache/
coverage/
.nyc_output/
*.tsbuildinfo
.eslintcache
.stylelintcache
.parcel-cache
.turbo/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Editors/IDEs
.vscode/
.idea/
*.swp
